@use '@/assets/styles/colors.scss';
@use "@/assets/styles/components.scss";

form{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 50%;
    margin: 10px auto;
    font-size: components.$fs-medium;
}

.red-text{
    color: red;
}

label{
    margin: 10px 0px;
    text-align: left;
}

input{
    border-radius: 5px;
    border: 1px solid colors.$main;
    height: 30px;
    margin-bottom: 5px;
    font-size: components.$fs-medium;

    //TODO: черное выделение при фокусе
    // :focus{
    //     border: 1px solid colors.$second;
    // }
}