@use '@/assets/styles/colors.scss';
@use "@/assets/styles/components.scss";
@use "@/assets/styles/form.scss";


.container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.red-text {
    color: red;
}