$main: #FFFFFF;
$second: #00FF37;
$background: #2F80ED;
$red: red;
$black: black;

$error: $red;

$error-color: #e55353;
$error-bg: #fbeaea;
$error-border: #f29999;
$error-shadow: rgba(229, 83, 83, 0.4);

$success-color: #4caf50 !default;
$success-bg: #e0f7fa !default;
$success-border: #4caf50 !default;
$success-shadow: rgba(76, 175, 80, 0.4) !default;

$blue: blue;
$green: rgb(6, 167, 6);
$form-background: rgba(26, 53, 139, 0.678);