@use "@/assets/styles/components.scss";
@use "@/assets/styles/colors.scss";

//bootstrap setup
.form-card {
    width: 100%;
    max-width: 1000px;
    background-color: colors.$form-background;
    border: 2px solid colors.$blue;
    border-radius: 0.75rem;
    box-shadow: 0 8px 20px rgb(0 0 0 / 0.07);
    padding: 3rem 2.5rem;
    box-sizing: border-box;

    margin-bottom: 10px;
}

.form-title {
    font-weight: bold;
    font-size: components.$fs-xxlarge;
    line-height: 1.1;
    color: colors.$main;
    margin-bottom: 2.5rem;
    text-align: center;
}

.form-control {
    font-size: components.$fs-regular;
    border-radius: 0.5rem;
    border-color: colors.$background;
    padding: 0.75rem 1rem;
    transition: border-color 0.3s ease;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgb(37 99 235 / 0.4);
}

.form-label {
    font-weight: 400;
    font-size: components.$fs-medium;
    color: colors.$main;
    margin-bottom: 0.5rem;
    display: block;
}

.password-toggle {
    position: absolute;
    right: 1rem;
    transform: translateY(-180%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.password-toggle img {
    width: 22px;
    height: 22px;
    user-select: none;
    pointer-events: none;
}

/* Submit button */
.btn-outline-success,
.btn-outline-primary {
    border-radius: 2px solid colors.$main;
    font-weight: 700;
    font-size: components.$button-fs;
    border-radius: 0.625rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: colors.$background;
    }
}

.btn__contrast__primary {
    @extend .btn-outline-primary;
    border: 2px solid colors.$main;
    color: colors.$main;
}

.btn__contrast__success {
    @extend .btn-outline-success;
    border: 2px solid colors.$main;
    color: colors.$main;

    &:hover {
        background-color: colors.$green;
    }
}

.btn-outline-success:disabled,
.btn-outline-success[disabled],
.btn-outline-primary:disabled,
.btn-outline-primary[disabled] {
    background-color: rgb(0, 0, 255);
    border-color: #6b7280;
    cursor: not-allowed;
    opacity: 0.8;
}

/* Responsive for smaller screens */
@media (max-width: 480px) {
    .form-card {
        padding: 2rem 1.5rem;
    }

    .form-title {
        font-size: components.$fs-large;
    }
}

.reg__alert {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: components.$fs-regular;
}

.router__link {
    cursor: pointer;
    text-decoration: none;
    color: colors.$main;
}